body {
   
    margin: 0 10%;
    font-family: sans-serif;
    background-image: url("sky.jpg");
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    background-color: #b68fc0;
    color: #ffffff;
    padding: 0 30px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 20px;
    margin-top: 50px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.gallery img {
    height: 400px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.1);
}

p {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
}

p a {
    color: #94287c;
}