@charset "UTF-8";

body {  margin: 2em 6em;  font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #dcdad8;}
h1, h2 {  color: #399;}
h1 {  font-size: 1.5em;
    color: #6d2289;
}
h2 {  font-family: Verdana, Geneva, sans-serif;  font-size: 1em;}
small { color: #999;}
h1 {
    text-align: center;
    margin-top: 20px;
    color: #6d2289;
  }
  
  p {
    line-height: 1.5;
    margin: 10px 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  ol {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  a {
    color: #33bfc2;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  